.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    padding-top: 130px;
    padding-bottom: 130px;
}

.home h1 {
    min-height: 155px;
    grid-column: 1 / -1;
    font-size: 4rem;
    color: var(--preto-fonte);
}

.home h1::after {
    content: '|';
    animation-name: digitar;
    animation-duration: .8s;
    animation-iteration-count: infinite;
}

.home span {
    color: var(--cor-principal);
}

.controle-botoes {
    display: flex;
    gap: 25px;
}

.home a {
    font-size: 1rem;
    color: var(--branco-absoluto);
    text-decoration: none;
}


@media (max-width: 800px) {
    .home {
        align-items: center;
    }

    .home h1 {
        max-width: 450px;
        font-size: 2.5rem;
        text-align: center;
    }
}

@keyframes digitar {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}