.sobre-bg {
    background-color: var(--preto-bg);
    position: relative;
    z-index: 0;
}

.sobre h2 {
    color: var(--branco-absoluto);
}

.sobre p {
    max-width: 765px;
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 60px;
    color: var(--branco-absoluto);
}

.sobre a {
    align-self: flex-start;
    text-align: center;
    text-decoration: none;
    color: var(--branco-absoluto);
}


@media (max-width:800px) {
    .sobre {
        display: grid;
        justify-items: center;
    }

    .sobre p {
        font-size: 1rem;
        text-align: center;
        margin-bottom: 40px;
    }
}